html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #c6cfe9;
}

.boxes {
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 1%;
    background-color: white;
    width: 100%;
    margin: 5px;
}

.input_main {
    width: auto;
}

.input_search {
    border-radius: 5px;
    padding-left: 5px;
    border: 2px solid gainsboro;
    height: 20px;
}

.magnify_glass {
    height: 10px;
}

.input_box {
    border: none;
    width: 90%;
}

.results_and_nomination {
    display: flex;
    justify-content:space-around;
}

.result_box {
}

.nomination_box {
}
